extends ../layouts/layout.pug
//- include ../mixins/picture
block vars
	- var title = 'Главная';
block styles
	include ../includes/styles/styles.pug
block header
	include ../includes/header/header.pug
block content
	main
		include ../blocks/home/first.pug 
block footer
	include ../includes/footer/footer.pug
block scripts
	script(src="js/pages/swiper-bundle.js")
	include ../includes/scripts/scripts.pug
