extends ..//layouts/layout.pug
block vars
	- var title = 'Главная';
block styles
	include ..//includes/styles/styles.pug
block header
	include ..//includes/header/header.pug
block content
	main
		.block Анатолий
block footer
	include ..//includes/footer/footer.pug
block scripts
	script(src="js/pages/swiper-bundle.js")
	include ..//includes/scripts/scripts.pug
	//- script(src="js/pages/home/m-com.js")
	//- script(src="js/pages/home/m-reviews.js")
